<!-- The 'About' page -->

{% extends "layout.html" %}

{% block head %}
    <!-- Inherit from 'layout.html' -->
    {{ super() }}
{% endblock %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <!-- Background -->
    <img src="../static/images/trianglify_background.png" class="background position-fixed w-100 h-100 top-0 start-0" loading="lazy">
    <!-- End of Background -->
    <!-- Main Content -->
    <div class="container about mb-5 pb-5">
        <!-- Title -->
        <div class="row mb-3">
            <div class="col-md-12 text-center">
                <h1 class="page-title">關於我</h1>
            </div>
        </div>
        <!-- End of Title -->
        <!-- Row -->
        <div class="row flex-wrap align-content-center justify-content-center">
            <!-- 1st Column -->
            <div class="col-md-6 d-flex">
                <div class="card description-card card-design">
                    <div class="card-body">
                        <div class="border-0 mb-3">
                            <div class="card-body text-center">
                                <p class="first-paragraph">黃彥誠是一名23歲的學生，是一名土生土長的高雄人，

                                    興趣是吃吃到飽還有睡到自然醒，目前的煩惱是在聯邦學習的
                                    
                                    研究中找到屬於他的研究主題。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of 1st Column -->
            <!-- 2nd Column -->
            <div class="col-md-3 mt-md-0 mt-4 d-flex">
                <div class="card education-card card-design flex-grow-1">
                    <div class="card-body d-flex flex-column align-items-center">
                        <div class="border-0 mb-3">
                            <div class="card-body text-center">
                                <p class="first-paragraph">學歷</p>
                            </div>
                        </div>
                        <div class="card inner-card inner-card-design mb-3 w-100 mx-auto">
                            <div class="card-body text-center">
                                <strong class="paragraph"><i class="school-name bx bxs-school"> 國立臺東大學</i></strong>
                                <p class="paragraph">資訊工程學系</p>
                                <p class="text-muted"> 2020 9月 -  2024 6月</p><br>
                            </div>
                        </div>
                        <div class="card inner-card inner-card-design mb-3 w-100 mx-auto">
                            <div class="card-body text-center">
                                <strong class="paragraph"><i class="school-name bx bx-library"> 高雄科技大學</i></strong>
                                <p class="paragraph">電子工程學系 <br> 資訊工程組</p>
                                <p class="text-muted"> 2024 8月 - 至今</p>
                            </div>
                        </div>
                        <button class="btn mt-auto mx-auto w-100">
                            <a href="{{ url_for('contact') }}">沒事最好不要聯絡我 <i class="bx bx-right-arrow-circle px-2"></i></a>
                        </button>
                    </div>
                </div>
            </div>
            <!-- End of 2nd Column -->
        </div>
        <!-- End of Row -->
    </div>
    <!-- End of Main Content -->
{% endblock %}
